{% extends "djangorestframework/base.html" %}

{% block title %}Myaa API{% endblock %}

{% block branding %}
    <h1 id="site-name">My ggAPI</h1>
<p>circuits : {{ circuits|length }}</p>

    {% for circuit in circuits %}
        <h2>
            <a href="{{ circuit }}">
                {{ circuit }}
            </a>
        </h2>

    {% endfor %}
{% endblock %}

{% block content %}
    {% for circuit in resource %}
        <h2>
            <a href="{{ circuit.url }}">
                {{ circuit.title|upper }}
            </a>
        </h2>

    {% endfor %}
{% endblock %}

<script type="text/javascript">
    {% autoescape off %}
    console.log({{ content}})
    {% endautoescape %}
</script>